{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block nav_indices %}active{% endblock %}
{% block page_title %}Indexes{% endblock %}
{% block content %}
<div class="card">
  <div class="table-responsive">
    <table class="table table-vcenter card-table">
      <thead>
        <tr>
          <th>Schema</th>
          <th>Table</th>
          <th>Index</th>
          <th>Size</th>
          <th>Scans</th>
        </tr>
      </thead>
      <tbody>
      {% for idx in indices %}
        <tr>
          <td><span class="badge bg-azure-lt">{{ idx.schema }}</span></td>
          <td>{{ idx.table }}</td>
          <td>{{ idx.name }}</td>
          <td>{{ idx.size }}</td>
          <td>{{ idx.scans }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% if indices.len() == 0 %}
    <div class="card-body">
      <div class="alert alert-info">No data yet.</div>
    </div>
  {% endif %}
</div>
{% endblock %}
